name: Flutter CI

# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - main

jobs:
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest
    steps:
      # Setup Java environment in order to build the Android app.
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3.12.0
        with:
          java-version: 11
          distribution: temurin

      # Setup the flutter environment.
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      # Setup the melos environment.
      - uses: bluefireteam/melos-action@v2

      - name: Install dependencies
        run: melos bootstrap

      - name: Verify formatting
        run: dart format .

      - name: Analyze project source
        run: dart analyze

      # - name: Run tests
      #   run: dart test
